.Wrapper{
  height:auto;
  display: flex;
  flex-direction: column;
  /*background-color: beige;*/
}

.Header{
  height:100px;
  width: 75%;
  /*background-color: red;*/
  border-color: rgb(99, 138, 138);
  display: flex;
  margin-left:12.5%;
}

.Tab{
  height:100px;
  width:15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  font: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
  font-weight: 200;
  color:rgb(65,202,217);
}

.Tab:hover{
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.Content{
  min-height:300px;
  width: 75%;
  margin-left:12.5%;
  border-style: solid;
  margin-top:10px;
  border-left:0px;
  border-right:0px;
  display: flex;
  flex-direction: column;
}

.HeaderText{
  font: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
  font-weight: 200;
  font-size: 50px;
  color:black;
  margin-left: 5%;
  margin-top:30px;
  display: flex;
}

.MemberContainer{
  margin-top:10px;
  min-height:100px;
  margin-left: 5%;
  width:50%;
  border-style: solid;
  border-left: 0px;
  border-right:0px;
  margin-bottom: 20px;
}

.MemberInfo{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-top:4px;
}

.BigFont{
  font-size:30px;
}